@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Merriweather:wght@700&family=Open+Sans:wght@800&display=swap');

.container{
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    background-image: url('../images/Banner\ Image.png');
    height: 600px;
   
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
}

.container .banner-text{
text-align: center;



    
   
}

.content{
    padding: 100px;
}


.container .banner-text h3{
    color: #FFF;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;



}

.container .banner-text h1{
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
max-width: 600px;
    width: 100%;
    margin:20px auto ;
    
    
}

.containtor{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.section-container{
   text-align: center;
}

.section-container .section-text h1{
    color: #F00;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
   
}

.section-container .section-text h5{
    color: #F00;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.section-container .section-text h2{
    color: #070211;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 40px;
}


.section-image img{
    max-width: 550px;
    width: 100%;
    margin-bottom: 50px;
}

.container-new{
   
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    height: 500px;
    background-image: url('../images/Vectorrr.png');
}

.happy-new .newyear h1{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7px;  
    max-width: 500px;
    width: 100%;
}

.happy-new .newyear p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.happy-new .newyear h3{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.happy-new{
    display: flex;
    justify-content: space-around;
    align-items: center;
 
    


}
.happy-new .newyear h1{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 10px;


}

.happy-new .newyear p{
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
width: 100%;
max-width: 700px;
margin-bottom: 35px;

}

.happy-new .newyear h3{
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 40px;
}

.pink-container{
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
span{
    color: #F00;
}

.pink-text-section h3{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
margin-bottom: 28px;

}

.pink-text-section button{
    background: #F00;
    padding:15px 32px;
    font-size: 26px;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
}

.pink-text-section{
    align-items: center;
    padding: 80px;
}

.latest-container{
    width: 82%;
    max-width: 1320px;
    margin: 0 auto; 
    background: #FFF;
    margin-bottom: 100px;
}

.latest-container .main-section{
display: flex;
justify-content: space-around;
align-items: center;
}

.latest-container .main-section h5{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.latest-container .main-section h3{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
}

.latest-container .main-section p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    max-width: 370px;
    width: 100%;
}
/* 
.square {
border-style: solid;
border-color: red;
border-width: 10px;
border-radius: px;
} */

.square img{
    border-style: solid;
    border-color: red;
    border-width: 12px;
    border-radius: 220px;
    padding: 20px;
}

.latest-container .main-section .dolor h3{
    color: #F00;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.latest-container .main-section .dolor p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 220px;
    width: 100%;

}

.latest-container .main-section .dolor img{
    max-width: 140px;
    width: 100%;
}

.main-container{
max-width: 1320px;
width: 82%;
margin: 0 auto;
background: #FFF;
}


.main-container-sec{
text-align: center;
}

.main-container h5{
    color: #070211;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-container .main-container-sec h1{
    color: #070211;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 20px;
}

.main-container-sec p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    max-width: 960px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.shop-contain{
    max-width: 1320px;
    width: 100%;
    margin: 20px auto;
    margin-bottom: 30px;
    margin-top: 100px;
}


.shop-contain h5{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.shop-contain h3{
color: #070211;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}

.shop-contain p{
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
width: 100%;
max-width: 800px;
margin-bottom: 30px;
}

.shop-container-section{
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    height: 1000px;
    margin-top: 70px;
}

.deal-section{
    display: flex;
  gap: 25px;
margin-bottom: 20px;

}

.deal-section-two{
    display: flex;
    gap: 25px;
}
.subscrib-container{
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
    height: 1000px;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
height: 500px;
margin-bottom: 100px;
padding: 20px;

}
.deal-section img{
    max-width: 420px;
    width: 100%;
}

.deal-section-two img{
    max-width: 420px;
    width: 100%;
}
.subscribe-newshelter{
    text-align: center;
   
}

.subscribe-newshelter img{

width: 150px;
height: 150px;
}

.subscribe-newshelter h3{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-newshelter p{
 color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin: 20px auto;
max-width: 700px;
width: 100%;
}

 input{
max-width: 400px;
width: 100%;
height: 50px;
padding: 0 0 0 30px;
color: rgba(7, 2, 17, 0.30);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-style: solid;
border: none;
background: #FFF;
border-radius: 50px 0px 0px 50px;

}
.from-section button{
    width: 130px;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
background: #F00;
    border-style: solid;
    border: none;
    margin-bottom: -2px;
    color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
}

.footer-first-section{
display: flex;
justify-content: space-between;
border-bottom: 2px solid  rgba(255, 255, 255, 0.15);;
border-width: 2px;

}
footer{
    background: #070211;
}
.footer{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
   
    height: 550px;
    margin-bottom: 100px;
}

.footer-first-section .adress p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    width: 400px;
    padding: 50px 0;


 }

 .footer-first-section .number{
padding: 50px 100px;
 }

 .footer-first-section .number p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    max-width: 250px;
    width: 100%;

 }

 footer .contect-section{
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 2px solid  rgba(255, 255, 255, 0.15);;
    border-width: 2px;
 }

 footer .contect-section .contect-my{
   padding: 20px;
 }

 footer .last-section{
    display: flex;
    justify-content: space-between;
    
 }


 footer .last-section .year-section p{
    color: #FFF;
   
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding:30px 0px;
 }

 footer .last-section .unsubscribe p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 30px 0 ;
 }